<script>
function loadUnload() {
}

	$(document).ready( function() {
		setTimeout(function() {
			navigator.geolocation.getCurrentPosition(GetLocation);
			function GetLocation(location) {
				lat = location.coords.latitude;
				lon = location.coords.longitude;
				$('#latitude').val(lat);
				$('#longitude').val(lon);

				$('.wlink').each( function() {
					var href = $(this).attr('href');
					$(this).attr('href', href + "?latitude=" + lat + '&longitude=' + lon);
				});
				$('#floatingCirclesG').toggle();
				$('.prog-wrapper').toggle();
			}
		} , 10);
	});
</script>
<div class="site-wrapper">
	<div class="container">
			<div class="prog-wrapper">
				<h1>Identifying your location...</h1>
				<div id="floatingCirclesG">
					<div class="f_circleG" id="frotateG_01">
					</div>
					<div class="f_circleG" id="frotateG_02">
					</div>
					<div class="f_circleG" id="frotateG_03">
					</div>
					<div class="f_circleG" id="frotateG_04">
					</div>
					<div class="f_circleG" id="frotateG_05">
					</div>
					<div class="f_circleG" id="frotateG_06">
					</div>
					<div class="f_circleG" id="frotateG_07">
					</div>
					<div class="f_circleG" id="frotateG_08">
					</div>
				</div>
				</div>
		<div class="row">
			<div class="col-md-12">
				<h1 style="font-size: 84px">Show me where it's:</h1>
				<% flash.each do |message_type, message| %>
					<div class="alert alert-info"><%= message %></div>
				<% end %>
			</div>
		</div>
		<div class="row" style="margin-top: 40px">
			<div class="col-md-12">
				<%= link_to "raining", search_path("rain"), class: "wlink btn btn-primary btn-lg" %>
				<%= link_to "sunny", search_path("clear%"), class: "wlink btn btn-warning btn-lg" %>
				<%= link_to "snowing", search_path("snow"), class: "wlink btn btn-default btn-lg" %>
			</div>
		</div>
	</div>
</div>
</div>
