<script>

	$(document).ready( function() {
		navigator.geolocation.getCurrentPosition(GetLocation);
		function GetLocation(location) {
			lat = location.coords.latitude;
			lon = location.coords.longitude;
			//console.log(location.coords.accuracy);
			console.log(lat);
			console.log(lon);
			$('#latitude').val(lat);
			$('#longitude').val(lon);

			$('.wlink').each( function() {
				var href = $(this).attr('href');
				$(this).attr('href', href + "?latitude=" + lat + '&longitude=' + lon);
			});
		}
	});
</script>
<h1>Show me where it's:</h1>
<%= link_to "raining", search_path("rain"), class: "wlink" %>
<%= link_to "sunny", search_path("clear%"), class: "wlink" %>
<%= link_to "snowing", search_path("snow"), class: "wlink" %>
